*{
	padding: 0;
	margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
	background-color: #ddd;
}

.landingPage{
	position: relative;
	width: 100%;
	height: 550px;
	align-items: center;
	justify-content: center;
	display: flex;
	background-image: url('https://wallpaperaccess.com/full/2503863.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.landingPage header{
	width: 100%;
	height: 50px;
	position: absolute;
	align-items: center;
	top: 0;
	display: inline-block;
	background-color: #f12929;
}

.landingPage header ul{
	height: auto;
	height: 100%;
	float: right;
	display: flex;
	align-items: center;
}


.landingPage header ul li{
	color: #fff;
	margin: 20px;
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
}
.landingPage header .logo{
	padding: 5px;
	width: 120px;
	height: 40px;
	display: inline-block;
}

.landingPage header .logo svg{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.landingPage header .logo svg:hover{
	opacity: 0.5;
	transition-duration: 0.2s;
}
.landingPage .actions{
	position: absolute;
	bottom: 20px;
}

.landingPage .actions h1{
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,1); 

}

.landingPage .actions button{
	display: none;
}



.especs{
	width: 90%;
	height: 80vh;
	margin: 0 auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.especs .block{
	width: 30%;
	height: 200px;
	margin: 3%;
	padding: 20px;
	color: #333;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: block;
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	border: solid 1px #ddd;
	background-color: #fff;
	cursor: pointer;
}
.especs .block:hover{
	background-color: #f1f1f1;
	transition-duration: 0.2s;
}
.especs .block span{
	font-size: 20px;
}

.especs .block .icon{
	width: 100%;
	font-size: 4em;
	margin-top: 50px;
	margin-bottom: 20px;
	display: block;
}

.testemony{
	position: relative;
	background-image: url('https://www.teahub.io/photos/full/61-615693_mclaren-wallpaper-hd-mclaren-p1-hd-wallpapers-1080p.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 500px;
}

.testemony:before{
	width: 0;
}

.testemony p{
	font-size: 1.2em;
	padding: 10px;
	color: #111;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.6);
	margin: 20px;
}

.testemony p:hover{
	transition-duration: 0.4s;
	background-color: rgba(255,255,255,0.7);
}

.versions{
	width: 80%;
	height: auto;
	margin: 50px auto 100px;
}

.versions table{
	width: 100%;
	height: auto;
	color: #333;
	border: solid 1px #fff;
	border-collapse: collapse;
}

.versions table caption{
	margin-bottom: 20px; 
	color: #222;
	font-size: 1.3em;
	font-weight: bold; 
}


td, th {
  border: 1px solid #888;
  background-color: #fff;
  text-align: center;
  padding: 8px;
}

th{
	color: #fff;
	background-color: #f12929;
}

.buy{
	width: 50%;
	height: 300px;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	border-radius: 4px;
	overflow-y: auto;
	margin: 0 auto 50px;
}

.buy h2{
	text-align: center;
	padding-top: 20px;
	font-weight: normal;
	color: #222;
	margin-bottom: 10px;
}

.buy form{
	width: 80%; 
	height: auto; 
	margin: 0 auto 0;
}
.buy form label{
	position: relative;
}
.buy form input[type="text"], textarea{
	margin-top: 20px;
	padding-left: 4px;
	box-sizing: border-box;
	border: solid 1px #aaa;
	outline: none;
	width: 100%;
	height: 32px;
	background: #fff;
}

.buy form input[type="text"]:focus, .buy form textarea:focus {
	background-color: #fafafa;
}

.buy form input[type="submit"]{
	width: 100%;
	height: 35px;
	margin-top: 10px;
	border: none;
	background-color: #cc1100;
	outline: none;
	cursor: pointer;
	color: #fff;
	box-sizing: border-box;
}

.buy form input[type="submit"]:active{
	background-color: #aa1100;
}